* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
background:linear-gradient(45deg, rgb(85, 142, 223) 0%, rgb(75, 45, 158));


}
header {
  background: #000;
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 90px;
 
}
header img {
  height: 90px;
  width: 150px;
  
}
header .bar  {
  color: #fff;
  display: flex;
  align-items: center
}
header ul {
  font-size: 2rem;
  
  display: flex;
  justify-content: ;
}
header li {
  list-style-type: none;
  justify-content: space-around;
 
  
}
