html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Fira code', sans-serif;
  font-size: 62.5%;
  background: #3e5fff;
  height: 100vh;
  
}

a, li {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  list-style: none;
}


/*Cabeçalho*/
.container {
  background-color: #3e5fff;;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 980px;
  margin: auto;
  height: 10vh;

}
.menu {
  display: flex;
  padding: 20px;
  
}
.menu li {
  margin-left: auto
 
}
.container img {
  padding-top: 5px;
}
.container nav {
 
  height: 43px;
  width: 50vw;
}




.main {
  display: flex;
 justify-content: space-between;
  width: 90%;
  height: 90vh;
  max-width: 980px;
  margin: auto;
  position: relative;
  background-color: #caba25;
  align-items: center;
  font-size: 2rem;
}
.main-text {
padding-left: 10%; 
}
.hello {
  line-height: 4rem;
  background-color: #ca5a25;
  width: 50%;
  position: absolute;
  top: 85.4%;
  left:10%;
  display: flex;
  justify-content: space-around;
}
.icons {
  background-color: #fff;
}


/* The .image-container class needs to be applied to a div wrapped around the image you want to apply this filter to */
.image-container {
  display: inline-block;
  position: relative;
  line-height: 0;
  background: #ffffff;
  
}
.image-container::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  mix-blend-mode: multiply;
  background: #002bff;
  opacity: 0.76;
}
.image-container > img {
  -webkit-filter:  brightness(110%) contrast(100%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
          filter:  brightness(110%) contrast(100%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
  mix-blend-mode: none;
}


.sobre {
  display: flex;
  justify-content: space-between;
   width: 90%;
   height: 100vh;
   max-width: 980px;
   margin: auto;
   background-color: #caba25;
   align-items: center;
   font-size: 2rem;
   text-align: center;
   position: relative;

   
}
.sobre h2 {
  margin-right: 10px;
  position: absolute;
  top: 60px;
  left:50%;
  transform: translate(-50%, -50%);
  border-bottom: 5px solid  #ca5a25;
}


.projetos {
  
   width: 90%;
   height: 80vh;
   max-width: 980px;
   margin: auto;
   background-color: #caba25;
   align-content: center;
   align-items: center;
   position: relative;
  
  
}
.projetos h2 {
  position: absolute;
  left:50% ;
  transform: translate(-50%, -50%);
  border-bottom: 5px solid  #ca5a25;
  font-size: 3rem;
}

.picprojetos {

  display: flex;
  justify-content: space-evenly;
  position: absolute;
  left: 50%;
  top: 32%;
  transform: translate(-50%, -5%);
   
}
.picprojetos div {
  background-color: rgb(202, 90, 37);
  border-radius: 30px;
  margin: 10px;
}
.picprojetos img {
  padding: 10px;
  border-radius: 30px;
}
.picprojetos p {
  text-align: center;
  font-size: 1.8rem;

}
.contato {
  width: 90%;
   height: 80vh;
   max-width: 980px;
   margin: auto;
   background-color: rgb(202, 186, 37);
   align-content: center;
   align-items: center;
   position:relative
   
}
.contato div {
  display: flex;
  justify-content: space-between;
   width: 90%;
   height: 100vh;
   max-width: 980px;
   margin: auto;
   align-items: center;
   text-align: center;
   position: relative;
  
}
.contato h2 {
  font-size: 3rem;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}






/*rodapé*/

footer {
  background:#ca5a25;
  height: 30vh;
  display: flex;
  justify-content: space-between;
   width: 90%;
   max-width: 980px;
   margin: auto;
   align-items: center;
   text-align: center;
   position: relative;

}